@import "_variables";

@mixin wrapper-parent {
  background-color: $wrapper-bg-color;
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  //   grid-template-columns: max-content repeat(2, 1fr); //max-content
  gap: 10px 20px;
}
