@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  @include wrapper-parent;
  grid-template-rows: repeat(3, minmax(150px, min-content));

  @each $key, $value in $wrapper-child-bg-color {
    #{$key} {
      background-color: $value;
      padding: 10px;
      //postioning header in place of footer
      @if $key == "header" {
        grid-area: 2 / 3 / 3 / 4;
      } @else if $key == "nav" {
        //spanning
        grid-area: 1 / 1 / 3 / 3;
      }
    }
  }
}

.wrapper-grid-area {
  @include wrapper-parent;
  margin-top: 20px;
  grid-template-areas:
    "header header header"
    "nav main main"
    "aside main main"
    "section section footer";
  grid-template-rows: repeat(4, 150px);

  @each $key, $value in $wrapper-child-bg-color {
    #{$key} {
      background-color: $value;
      grid-area: $key;
    }
  }
}

.wrapper-imp-exp {
  @include wrapper-parent;
  margin-top: 20px;
  grid-template-rows: repeat(2, minmax(150px, min-content));
  grid-auto-rows: minmax(150px, auto);
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  @each $key, $value in $wrapper-child-bg-color {
    #{$key} {
      background-color: $value;
    }
  }
}
